.local
nimcache/
build/
builds/
dist/
bin/
*.exe
*.dll
*.so
*.dylib
*.out
*.obj
*.lib
*.a
*.pdb
*.ilk
*.exp
*.log
*.tmp
*.swp
*.bak
*.stackdump
.vscode/
nimble.develop
nimble.paths
nimbledeps
